.row {
    display: flex;
}

.column{
    padding: 2% 5%;
}

.leftcolumn{
    flex: 25%;
}

.rightcolumn{
    flex: 75%;
}

.box {
    box-shadow: 5px 2px 10px  rgb(181, 181, 181);
    padding: 20px 10px;
    border-radius: 5px;
}

.box:hover{
    box-shadow: 5px 2px 10px  rgb(136, 136, 136);
}

.centered {
    font-weight: bold;
    text-align: center;
}

#profileimg {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: inline-block;
    background-image: url('');
}

#profileimg:hover {
    box-shadow: 1px 1.5px 4px lightblue;
}

.bars {
    color: grey;
    font-size: .9em;
    text-align: right;
    vertical-align: 50%;
    opacity: 0.5;
}

.bars:hover {
    opacity: 1;
}

.percent25 {
    border-style: 1px solid black;
    width: 25%;
    height: 15px;
    background: orange;
}

.percent50 {
    border-style: 1px solid black;
    width: 50%;
    height: 15px;
    background: lightblue;
}

.percent75 {
    border-style: 1px solid black;
    width: 75%;
    height: 15px;
    background: gold;
}

.percent100 {
    border-style: 1px solid black;
    width: 100%;
    height: 15px;
    background: lightgreen;
}

#courseList li{
    display:inline-flex;
    margin: 10px;
    width: 100px;
    height: 50px;
    border:1px solid black;
    border-radius: 100%;
    padding: 50px 30px;
    text-align: center;
}

#classWID {
    background: grey;
    color: white;
    text-shadow: 3px 3px 2px black;
    background-image: url('../img/web.png');
}

#classPI {
    background: grey;
    color: white;
    text-shadow: 3px 3px 2px black;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d4/Python_sqrt.png');
}

#classFNS {
    background: grey;
    color: white;
    text-shadow: 3px 3px 3px black;
    background-image: url('../img/mathtools.png');
}

#classSEF {
    background: grey;
    color: white;
    text-shadow: 3px 3px 3px black;
    background-image: url('../img/prototype.png');
}

#classCC2 {
    background: grey;
    color: white;
    text-shadow: 3px 3px 3px black;
    background-image: url('../img/conversation.png');
}

#classAI {
    background: grey;
    color: white;
    text-shadow: 3px 3px 3px black;
    background-image: url('../img/chip.png');
}



footer {
    margin-top: 100px;
    text-align: center;
}

ul {
    list-style-image: url('../img/cat.png');
    margin: 10px;
    transition: 0s;
    
}

li:hover{
    list-style-image: url('../img/cat_no_lines.png');
    transition-delay: 0.1s;
}

ul li {
    margin: 0.4em 0;
}

#courses #courseList li:hover{
    transition: width 2s, height 2s, transform 2s;
}

#courses #courseList li:hover{
    transform: rotate(360deg)
}

h1, h2, h3, h4 {
    color: rgb(70, 70, 70);
    font-family: Arial;
}

p, li {
    font-family: Verdana;
}